# Prerequisites
*.d
.vscode
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# misc
*.png
*.svg
*.jpg
pillow-simd
.empty
openslide
openslide-python
opencv
AVX-AVX2-Example-Code
hello
line
drawing
paint
source_operator
open
output.ppm
.ppm